<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>demo nha</title>
    <script src="jquery.js"></script>
    <script src="xuly1.js"></script>
    <link rel="stylesheet" type="text/css" href="layout1.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="loginForm">
        <h1 style="color: #e01111">LOGIN</h1>
        <h2 style="color: #e01111" >userid</h2>
        <input type="text" id="userid" /><br>
        <h2 style="color: #e01111">password</h2>
        <input type="password" id="password"/><br><br><br>
        <button onclick="dangnhap();">Login</button>

      </div>
    </div>
  </body>
</html>
